body {
  padding: 0px;
  margin: 0px;
  font-family: 'poppins';
}

.container {
  padding: 50px 100px;
}

.about-card {
  display: flex;
  padding: 35px;
}

.about-card .left {
  flex: 1;
}

.about-card .right {
  flex: 2;
}